<div id="analysis-details">
    <div class="analysis-details1 px-3">
        <div class="img">
            <img src="{{analysisDets.imgSrc}}" class="img-fluid w-100">
         </div>
         <div class="dtls ps-2">
            <h6 class="mb-0 fw-600">{{analysisDets.analysis_title}}</h6>
            <div class="d-flex align-items-center justify-content-end">
                <span class="me-3"><i class="bi bi-calendar2-week-fill me-1"></i> {{analysisDets.date}}</span>
                <span style="color:#f08080;"><i class="bi bi-clock-fill me-1"></i> {{analysisDets.time}}</span>
            </div>
            <div class="content" [innerHTML]="analysisDets.analysis_description"></div>
            <!-- <p>Ethereum (ETH) has been driving downwards since posting an all-time high of 4867 on October 10th and is currently confronting the 3655-3575 section after last week’s recovery faltered in the vicinity of the 4200 mark.</p>
            <p>This recent downside move is likely to extend as oscillators are suggesting that the negative momentum is growing. The MACD, some distance below zero, has just crossed beneath its signal line, the RSI is sloping downwards in the negative region and the stochastic lines are still negatively charged showing no signs of any waning in bearish forces.</p>
            <p>Should the bears successfully breach the 3655-3575 base and the neighboring lower line of the descending regression channel pulled from 4867, they may initially push towards the September 23rd high at 3182 and the adjacent 78.6% Fibonacci retracement level of the September-November rally. Some distance lower, the spotlight will turn towards the September 21st bottom of 2651, which should remain intact to avoid throwing any doubt into the broader uptrend.</p> -->
        </div>
    </div>
</div>