<div id="chpassword" class="px-4 bg-light">
    <div>
        <div class="mb-3 d-flex align-items-center justify-content-between">
            <h1 class="pg-tlt text-start fw-bold pb-4" [translate]="'change_pass.tlt_login'">Change Password</h1>        
            <a (click)="gotoPage('/account/my-profile')" class="btn-warning sbmt-link border-0 px-4" [translate]="'change_pass.my_details'">My Details</a>                       
        </div>
        <form [formGroup]="changePasswordForm" (ngSubmit)="updatepassword()">                
            <div class="row">
                <div class="col-md-4">
                    <div class="frm-bx mb-2 pt-2 position-relative">
                        <span class="d-block pb-2 fw-bold" [translate]="'change_pass.tlt_currentpass'">Current Password</span>
                        <input [type]="hide1 ? 'password' : 'text'" placeholder="{{ 'change_pass.currpass_placeholder' | translate }}" class="w-100" formControlName="currpassword" [ngClass]="{ 'is-invalid': submitted && valid.currpassword.errors }">
                        <a class="position-absolute bg-transparent border-0 eye-btn" (click)="hide1 = !hide1">
                            <i [ngClass]="hide1 ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
                        </a>
                        <div *ngIf="submitted && valid.currpassword.errors" class="invalid-feedback">                        
                            <div *ngIf="valid.currpassword.errors.required" [translate]="'change_pass.currpass_error1'">Please Enter Current Password</div>                    
                            <div *ngIf="valid.currpassword.errors.minlength">                        
                                <div *ngIf="valid.currpassword.errors.minlength.requiredLength" [translate]="'change_pass.currpass_error2'">Current Password must be at least 8 characters</div>
                            </div>                        
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="frm-bx mb-2 pt-2 position-relative">
                        <span class="d-block pb-2 fw-bold" [translate]="'change_pass.tlt_newpass'">New Password</span>
                        <input [type]="hide2 ? 'password' : 'text'" placeholder="{{ 'change_pass.newpass_placeholder' | translate }}" class="w-100" formControlName="newpassword" [ngClass]="{ 'is-invalid': submitted && valid.newpassword.errors }">
                        <a class="position-absolute bg-transparent border-0 eye-btn" (click)="hide2 = !hide2">
                            <i [ngClass]="hide2 ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
                        </a>
                        <div *ngIf="submitted && valid.newpassword.errors" class="invalid-feedback">                        
                            <div *ngIf="valid.newpassword.errors.required" [translate]="'change_pass.newpass_error1'">Please Enter New Password</div>  
                            <!-- <div *ngIf="valid.newpassword.errors.passwordStrength"><span [translate]="'change_pass.newpass_error2'">Password not in valid partern :</span> {{valid.newpassword.errors["passwordStrength"]}}</div>-->
                            <div *ngIf="valid.newpassword.errors.passwordStrength">
                                <span *ngIf="valid.newpassword.errors['passwordStrength'][0]=='Upper'" style="font-size: 1em; color: #dc3545;">{{ 'change_pass.frmpass_error21' | translate }}<br></span>
                                <span *ngIf="valid.newpassword.errors['passwordStrength'][1]=='Lower'" style="font-size: 1em; color: #dc3545;">{{ 'change_pass.frmpass_error22' | translate }}<br></span>
                                <span *ngIf="valid.newpassword.errors['passwordStrength'][2]=='Number'" style="font-size: 1em; color: #dc3545;">{{ 'change_pass.frmpass_error23' | translate }}<br></span>
                                <span *ngIf="valid.newpassword.errors['passwordStrength'][3]=='Special'" style="font-size: 1em; color: #dc3545;">{{ 'change_pass.frmpass_error24' | translate }}</span>
                            </div>
                            <div *ngIf="valid.newpassword.errors.minlength">                        
                                <div *ngIf="valid.newpassword.errors.minlength.requiredLength" [translate]="'change_pass.newpass_error3'">New Password must be at least 8 characters</div>
                            </div>                        
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="frm-bx mb-2 pt-2 position-relative">
                        <span class="d-block pb-2 fw-bold" [translate]="'change_pass.confirmpass'">Confirm Password</span>
                        <input [type]="hide3 ? 'password' : 'text'" placeholder="{{ 'change_pass.conrmpass_aplaceholder' | translate }}" class="w-100" formControlName="conpassword" [ngClass]="{ 'is-invalid': submitted && valid.conpassword.errors }">
                        <a class="position-absolute bg-transparent border-0 eye-btn" (click)="hide3 = !hide3">
                            <i [ngClass]="hide3 ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
                        </a>
                        <div *ngIf="submitted && valid.conpassword.errors" class="invalid-feedback">                        
                            <div *ngIf="valid.conpassword.errors.required" [translate]="'change_pass.conpass_error1'">Please Enter Confirm Password</div>                    
                            <div *ngIf="valid.conpassword.errors.mustMatch" [translate]="'change_pass.conpass_error2'">New password and confirm password not equal</div>
                            <div *ngIf="valid.conpassword.errors.minlength">                        
                                <div *ngIf="valid.conpassword.errors.minlength.requiredLength" [translate]="'change_pass.conpass_error3'">Confirm Password must be at least 8 characters</div>
                            </div>                        
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="text-center">
                        <button class="btn-primary sbmt-btn border-0 mt-5" [disabled]="btnDis==1" [translate]="'change_pass.submit_button'">Change Password</button>
                    </div>
                </div>
            </div>          
        </form>
    </div>    
    <div class="signal-popup position-fixed top-0 end-0 bottom-0 start-0 d-flex align-items-center justify-content-center" *ngIf="showPopup">
        <div class="signal-popup-bx text-center px-4 position-relative">
            <div class="text-end">
                <button class="bg-transparent border-0 p-0 text-dark fs-3 px-2 position-absolute top-0 mt-3 end-0 me-2" (click)="closePaynowpopup()"><i class="bi bi-x"></i></button>
            </div>
            <img src="assets/images/validation-error.png" class="img-fluid" alt="">
            <h4 [translate]="'change_pass.success_msg'">Password Changed Successfully</h4>
            <div class="d-flex align-items-center justify-content-center">                
                <button (click)="closePaynowpopup()" class="border-0" [translate]="'signal_plan.popup_close'">Close</button>
            </div>
        </div>
    </div>
</div>