<div id="email-verification" class="d-flex align-items-center justify-content-center h-100">
    <div class="email-verify-bx text-center" *ngIf="showContent==1">
        <!-- <i class="bi bi-check-circle-fill"></i> -->
        <img src="https://admin.tradepedia.io/mail-asset/caricature.png" style="display:block;margin:0px auto;">
        <h2 class="fw-600 pt-4 pb-1" [translate]="'email_verify.verify_complete'">Email Verification Completed</h2>
        <p class="pb-3" [translate]="'email_verify.verify_descrption'">Now you login with your registered tradepedia account.</p>
        <!-- <a routerLink="" style="color:#1f6f22;background:none;">Home</a> -->
        <a routerLink="/login" class="log-btn" [translate]="'email_verify.btn_login'">Login</a>
        <hr style="border:none;border-top:1px solid #e0e3eb;margin:40px 0px 40px;">
        <div style="text-align:center;">
            <a href=""><img src="https://admin.tradepedia.io/mail-asset/ios.png" style="width:135px;margin-right:20px;"></a>
            <a href=""><img src="https://admin.tradepedia.io/mail-asset/android.png" style="width:135px;"></a>
        </div>
	    <p style="color:#787b86;font-family:system-ui;margin-top:25px;font-size:14px;" [translate]="'email_verify.tank_reading'">Thanks for reading, By Tradepedia Team. © 2022 Tradepedia</p>
    </div>
    <div class="email-verify-bx text-center" *ngIf="showContent==2">
        <i class="bi bi-check-circle-fill"></i>
        <h2 class="fw-600 pt-2 pb-1" [translate]="'email_verify.verify_already'">Email Already Verified</h2>
        <p class="pb-3" [translate]="'email_verify.verify_descrption'">Now you login with your registered tradepedia account.</p>
        <!-- <a routerLink="" style="color:#1f6f22;background:none;">Home</a> -->
        <a routerLink="/login" [translate]="'email_verify.btn_login'">Login</a>
    </div>
</div>
