<div id="create-profile5" class="bg-light">
    <!-- <div class="createprofile-stepper">
        <hr>
        <a routerLink="/signal/create-profile1">1</a>
        <a routerLink="/signal/create-profile2">2</a>
        <a routerLink="/signal/create-profile3">3</a>
        <a routerLink="/signal/create-profile5" class="active">4</a>
        <a routerLink="/signal/create-profile6">5</a>
    </div> -->
    <div class="create-profile5 position-relative">
        <h1 class="text-white fw-600 py-3" style="font-size:1.5rem;" [translate]="'crtprf_five.page_tlt'">Strategies To Trade</h1>
        <div class="white-bx px-3 py-4">
            <div class="infobox text-center pb-5">
                <img src="assets/images/preloader.png" alt="" class="img-fluid mb-2">
                <h5 class="mt-1 mb-1 text-center" [translate]="'crtprf_five.step3'">Step 3 is only for professionals!!!</h5>
                <!-- <p class="mx-auto mb-2 pb-2 text-center">If you haven't watched the Home Study Course just press below button!</p> -->
                <p class="mx-auto mb-2 pb-2 text-center" [translate]="'crtprf_five.msg'">Leave the defaults as they are and press next</p>
                <a class="border-0 fw-600 text-success" (click)="gotoHsc()" [translate]="'crtprf_five.goto_hsc'">Goto HSC</a>
            </div>
            <!-- <div class="px-2 pb-4">
                <swiper
                    [pagination]="{
                    dynamicBullets: true
                    }"
                    class="mySwiper mySwiper3"
                >                    
                    <ng-template swiperSlide>
                        <h3 class="fw-600 mb-1" style="font-size:5vmin;">Bullish Trend Reversal Entry</h3>
                        <p class="pt-1 pb-4 pb-4" style="font-size:4vmin;">The bullish trend reversal signal occurs in a weak downtrend when price fails to break below the previous support bottom. The successive break above the last resistance top confirms a reversal in the downtrend and serves as an opportunity to profit from the new expected upward move</p>
                        <img src="assets/images/chart/1.jpg" class="img-fluid">
                    </ng-template>
                    <ng-template swiperSlide>
                        <h3 class="fw-600 mb-1" style="font-size:5vmin;">Bearish Trend Reversal Entry</h3>
                        <p class="pt-1 pb-4" style="font-size:4vmin;">The bearish trend reversal signal occurs in a weak uptrend when price fails to break above the previous resistance top. The successive break below the last support bottom confirms a reversal in the uptrend and serves as an opportunity to profit from the new expected downward move.</p>
                        <img src="assets/images/chart/2.jpg" class="img-fluid">
                    </ng-template>
                    <ng-template swiperSlide>
                        <h3 class="fw-600 mb-1" style="font-size:5vmin;">Bullish Breakout Entry</h3>
                        <p class="pt-1 pb-4" style="font-size:4vmin;">The bullish breakout signal occurs in a structured uptrend. The successful break above the last resistance top confirms the continuation of the prevailing trend toward new highs and serves as an opportunity to profit from the expected upward move.</p>
                        <img src="assets/images/chart/1.jpg" class="img-fluid">
                    </ng-template>
                    <ng-template swiperSlide>
                        <h3 class="fw-600 mb-1" style="font-size:5vmin;">Bearish Breakout Entry</h3>
                        <p class="pt-1 pb-4" style="font-size:4vmin;">The bearish breakout signal occurs in a structured downtrend. The successful break below the last support bottom confirms the continuation of the prevailing trend toward new lows and serves as an opportunity to profit from the expected downward move.</p>
                        <img src="assets/images/chart/2.jpg" class="img-fluid">
                    </ng-template>
                    <ng-template swiperSlide>
                        <h3 class="fw-600 mb-1" style="font-size:5vmin;">Bull Trap Entry</h3>
                        <p class="pt-1 pb-4" style="font-size:4vmin;">A bull trap is a false bullish breakout signal, referring to an uptrend that reverses after marginally breaking above the previous resistance top. The false break of the resistance level “traps” traders who acted on the buy signal. The successive break of the last support bottom however confirms a reversal in the uptrend and serves as an opportunity to profit from the new expected downward move.</p>
                        <img src="assets/images/chart/1.jpg" class="img-fluid">
                    </ng-template>
                    <ng-template swiperSlide>
                        <h3 class="fw-600 mb-1" style="font-size:5vmin;">Bear Trap Entry</h3>
                        <p class="pt-1 pb-4" style="font-size:4vmin;">A bear trap is a false bearish breakout signal, referring to a downtrend that reverses after marginally breaking below the previous support bottom. The false break of the support level “traps” traders who acted on the sell signal. The successive break of the last resistance top however confirms a reversal in the downtrend and serves as an opportunity to profit from the new expected upward move.</p>
                        <img src="assets/images/chart/2.jpg" class="img-fluid">
                    </ng-template>
                </swiper>
            </div> -->
            <div class="accordion w-100" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                        <span [translate]="'crtprf_five.strtotrade'">Strategies To Trade</span>
                    </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body px-3">
                            <mat-button-toggle-group multiple class="crt-prf3 slide-prf d-flex border-0 flex-wrap mt-2" style="overflow:inherit;">
                                <div *ngFor="let stgs of this.strategies" class="mat-btn-grp position-relative mb-2">
                                    <!-- <mat-button-toggle class="mb-0 justify-content-start" (click)="selectParam('strategies',stgs)" [checked]="stgs.status==1" [ngClass]="stgs.trend=='UU' ? 'bullish-btn' : ''"> -->
                                    <mat-button-toggle class="mb-0 justify-content-start" (click)="selectParam('strategies',stgs)" [checked]="stgs.status==1">
                                        <div class="pass-help position-relative d-inline-block">
                                            <span style="color:var(--theme-text);"><i class="bi bi-info-circle ms-2 me-2 fs-6"></i></span>
                                            <div class="pass-help-bx d-inline-block p-3 mt-3 position-absolute text-start">
                                                <h3 class="fw-600 mb-1" style="font-size:20px;"> {{stgs.hintTitle}}</h3>
                                                <!-- <p class="pt-1 text-wrap" style="font-size:3.6vmin;line-height:18px;">The bullish trend reversal signal occurs in a weak downtrend when price fails to break below the previous support bottom. The successive break above the last resistance top confirms a reversal in the downtrend and serves as an opportunity to profit from the new expected upward move</p> -->
                                                <p class="pt-1 text-wrap" [innerHTML]="stgs.hintContent"></p>
                                            </div>
                                        </div>
                                        {{stgs.name}}
                                        <!-- <div class="pass-help-bx d-inline-block bg-white p-3 mt-3 position-absolute text-start">
                                            <span><i class="bi bi-info-circle ms-2 fs-6"></i></span>
                                            <div class="pass-help-bx d-inline-block bg-white p-4 mt-3 position-absolute">
                                                <p>The bullish trend reversal signal occurs in a weak downtrend when price fails to break below the previous support bottom. The successive break above the last resistance top confirms a reversal in the downtrend and serves as an opportunity to profit from the new expected upward move.</p>
                                            </div>
                                        </div> -->
                                    </mat-button-toggle>
                                    <div class="score-bx flex align-items-center" *ngIf="stgs.scoreDropdown==1">
                                        <span class="text-white me-2 display-inline-block" style="font-size:12px;"><span [translate]="'crtprf_five.score'">Score :</span> </span>                                        
                                        <div class="d-flex align-items-center mb-2">
                                            <mat-select placeholder="From" name="scoreFrom" [(ngModel)]="stgs.scoreFrom" (selectionChange)="setStScore(stgs)" style="border-radius:10px 0px 0px 10px;width:55px;">
                                                <mat-option *ngFor="let src of scoreList" [value]="src">{{src}}</mat-option>                                        
                                            </mat-select>
                                            <mat-select placeholder="To" name="scoreTo" [(ngModel)]="stgs.scoreTo" (selectionChange)="setStScore(stgs)" class="border-start" style="border-radius:0px 10px 10px 0px;width:55px;">
                                                <mat-option *ngFor="let src of filterFunction(scoreList, stgs.scoreFrom)" [value]="src">{{src}}</mat-option>                                        
                                            </mat-select>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- <mat-button-toggle value="1,1">Bullish Wave-We1</mat-button-toggle>
                                <mat-button-toggle-group multiple class="crt-prf3 slide-prf d-flex border-0 flex-wrap">
                                <mat-button-toggle value="1,1">
                                    Bullish Wave-We1
                                    <div class="pass-help-bx d-inline-block bg-white p-3 mt-3 position-absolute text-start">
                                        <span><i class="bi bi-info-circle ms-2 fs-6"></i></span>
                                        <div class="pass-help-bx d-inline-block bg-white p-4 mt-3 position-absolute">
                                            <p>State T stands for state Trend and measures how overbought or oversold the overall trend is while State W measures how overbought or oversold the Wave (the current move) is.</p>
                                        </div>
                                    </div>
                                </mat-button-toggle>
                
                                <mat-button-toggle value="1,2">Bearish Wave-We1</mat-button-toggle>
                                <mat-button-toggle value="1,3">Bullish Breakout</mat-button-toggle>
                                <mat-button-toggle value="1,4">Bearish Breakout</mat-button-toggle>
                                <mat-button-toggle value="1,5">Bullish Wave-We2</mat-button-toggle>
                                <mat-button-toggle value="1,6">Bearish Wave-We2</mat-button-toggle>
                                <mat-button-toggle value="1,7">Bullish Trend Reversal</mat-button-toggle>
                                <mat-button-toggle value="1,8">Bearish Trend Reversal</mat-button-toggle>
                                <mat-button-toggle value="1,9">Bullish Wave-We1</mat-button-toggle>
                                <mat-button-toggle value="2,1">Bearish Wave-We1</mat-button-toggle>
                                <mat-button-toggle value="2,2">Bullish Breakout</mat-button-toggle>
                                <mat-button-toggle value="2,3">Bearish Breakout</mat-button-toggle>
                                <mat-button-toggle value="2,4">Bullish Wave-We2</mat-button-toggle>
                                <mat-button-toggle value="2,5">Bearish Wave-We2</mat-button-toggle>
                                <mat-button-toggle value="2,6">Bullish Trend Reversal</mat-button-toggle>
                                <mat-button-toggle value="2,7">Bearish Trend Reversal</mat-button-toggle> -->
                            </mat-button-toggle-group>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item mb-0">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                        <span [translate]="'crtprf_five.overall'">Overbought and Oversold conditions, State Trends, State Waves</span>
                    </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body px-3 d-flex">
                        <div class="col-md-4 p-3">
                            <h5>
                                <div class="pass-help position-relative d-inline-block">
                                    <span style="color:var(--theme-dark-bg-text);"><i class="bi bi-info-circle me-2 fs-6"></i></span>
                                    <div class="pass-help-bx d-inline-block p-4 mt-4 position-absolute">
                                        <p [translate]="'crtprf_five.bought_content'">When an asset is overbought, the implication is that aggressive buying has pushed the price too far up too fast and further increase in price is more difficult and a correction is to be expected. Similarly, when an asset is oversold, the implication is that aggressive selling has pushed the price too far down too fast and a further decrease in price is more difficult, and a bounce is to be expected.</p>
                                    </div>
                                </div>
                                <span [translate]="'crtprf_five.bought_sold'">Overbought and Oversold conditions</span>
                            </h5>
                        </div>
                        <div class="col-md-4 p-3">
                            <h5 class="pb-2">
                                <div class="pass-help position-relative d-inline-block">
                                    <span style="color:var(--theme-dark-bg-text);"><i class="bi bi-info-circle me-2 fs-6"></i></span>
                                    <div class="pass-help-bx d-inline-block p-4 mt-3 position-absolute">
                                        <p [translate]="'crtprf_five.statet_content'">State T stands for state Trend and measures how overbought or oversold the overall trend is while State W measures how overbought or oversold the Wave (the current move) is.</p>
                                    </div>
                                </div>
                                <span [translate]="'crtprf_five.state_trend'">State Trends</span>
                            </h5>
                            <mat-button-toggle-group multiple class="crt-prf3 crt-prf5 d-flex border-0 flex-wrap mt-2">
                                <mat-button-toggle *ngFor="let st of this.listStateT" [checked]="st.status==1" (click)="selectParam('stateT',st)">{{st.name}}</mat-button-toggle>
                                <!-- <mat-button-toggle value="1,1">OB+01</mat-button-toggle>
                                <mat-button-toggle value="1,2">OB+0</mat-button-toggle>
                                <mat-button-toggle value="1,3">OB+1</mat-button-toggle>
                                <mat-button-toggle value="1,4">OS+01</mat-button-toggle>
                                <mat-button-toggle value="1,5">OS+0</mat-button-toggle>
                                <mat-button-toggle value="1,6">OS+1</mat-button-toggle>
                                <mat-button-toggle value="1,7">N</mat-button-toggle> -->
                            </mat-button-toggle-group>
                        </div>
                        <div class="col-md-4 p-3">
                            <h5 class="pb-2">
                                <div class="pass-help position-relative d-inline-block">
                                    <span style="color:var(--theme-dark-bg-text);"><i class="bi bi-info-circle me-2 fs-6"></i></span>
                                    <div class="pass-help-bx d-inline-block p-4 mt-3 position-absolute">
                                        <p [translate]="'crtprf_five.statew_content'">OB1 means Little overbought, OB2 stands for Overbought while OB3 is extremely overbought OS1 means little oversold, OS2 stand for oversold while OS3 is extremely oversold N stands for Neutral – neither overbought nor oversold</p>
                                    </div>
                                </div>
                                <span [translate]="'crtprf_five.state_wave'">State Waves</span>
                            </h5>
                            <mat-button-toggle-group multiple class="crt-prf3 crt-prf5 d-flex border-0 flex-wrap mt-2">
                                <mat-button-toggle *ngFor="let sw of this.listStateW" [checked]="sw.status==1" (click)="selectParam('stateW',sw)">{{sw.name}}</mat-button-toggle>
                                <!-- <mat-button-toggle value="1,1">OB+01</mat-button-toggle>
                                <mat-button-toggle value="1,2">OB+0</mat-button-toggle>
                                <mat-button-toggle value="1,3">OB+1</mat-button-toggle>
                                <mat-button-toggle value="1,4">OS+01</mat-button-toggle>
                                <mat-button-toggle value="1,5">OS+0</mat-button-toggle>
                                <mat-button-toggle value="1,6">OS+1</mat-button-toggle>
                                <mat-button-toggle value="1,7">N</mat-button-toggle> -->
                            </mat-button-toggle-group>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            <!--<mat-button-toggle-group multiple class="crt-prf3 slide-prf d-flex border-0 flex-wrap" style="overflow:inherit;">
                <mat-button-toggle class="w-100" *ngFor="let stgs of this.strategies" [checked]="stgs.status==1" (click)="selectParam('strategies',stgs)">
                    {{stgs.name}}
                    <div class="pass-help position-relative d-inline-block">
                        <span style="color:var(--theme-text);"><i class="bi bi-info-circle ms-2 fs-6"></i></span>
                        <div class="pass-help-bx d-inline-block p-3 mt-3 position-absolute text-start">
                            <h3 class="fw-600 mb-1" style="font-size:20px;">{{stgs.hintTitle}}</h3>
                            <!-- <p class="pt-1 text-wrap" style="font-size:3.6vmin;line-height:18px;">The bullish trend reversal signal occurs in a weak downtrend when price fails to break below the previous support bottom. The successive break above the last resistance top confirms a reversal in the downtrend and serves as an opportunity to profit from the new expected upward move</p> -->
            <!--                <p class="pt-1 text-wrap" [innerHTML]="stgs.hintContent"></p>
                        </div>
                    </div>
                    <!-- <div class="pass-help-bx d-inline-block bg-white p-3 mt-3 position-absolute text-start">
                        <span><i class="bi bi-info-circle ms-2 fs-6"></i></span>
                        <div class="pass-help-bx d-inline-block bg-white p-4 mt-3 position-absolute">
                            <p>The bullish trend reversal signal occurs in a weak downtrend when price fails to break below the previous support bottom. The successive break above the last resistance top confirms a reversal in the downtrend and serves as an opportunity to profit from the new expected upward move.</p>
                        </div>
                    </div> -->
           <!--     </mat-button-toggle>
                <!-- <mat-button-toggle value="1,1">Bullish Wave-We1</mat-button-toggle>
                <mat-button-toggle-group multiple class="crt-prf3 slide-prf d-flex border-0 flex-wrap">
                <mat-button-toggle value="1,1">
                    Bullish Wave-We1
                    <div class="pass-help-bx d-inline-block bg-white p-3 mt-3 position-absolute text-start">
                        <span><i class="bi bi-info-circle ms-2 fs-6"></i></span>
                        <div class="pass-help-bx d-inline-block bg-white p-4 mt-3 position-absolute">
                            <p>State T stands for state Trend and measures how overbought or oversold the overall trend is while State W measures how overbought or oversold the Wave (the current move) is.</p>
                        </div>
                    </div>
                </mat-button-toggle>

                <mat-button-toggle value="1,2">Bearish Wave-We1</mat-button-toggle>
                <mat-button-toggle value="1,3">Bullish Breakout</mat-button-toggle>
                <mat-button-toggle value="1,4">Bearish Breakout</mat-button-toggle>
                <mat-button-toggle value="1,5">Bullish Wave-We2</mat-button-toggle>
                <mat-button-toggle value="1,6">Bearish Wave-We2</mat-button-toggle>
                <mat-button-toggle value="1,7">Bullish Trend Reversal</mat-button-toggle>
                <mat-button-toggle value="1,8">Bearish Trend Reversal</mat-button-toggle>
                <mat-button-toggle value="1,9">Bullish Wave-We1</mat-button-toggle>
                <mat-button-toggle value="2,1">Bearish Wave-We1</mat-button-toggle>
                <mat-button-toggle value="2,2">Bullish Breakout</mat-button-toggle>
                <mat-button-toggle value="2,3">Bearish Breakout</mat-button-toggle>
                <mat-button-toggle value="2,4">Bullish Wave-We2</mat-button-toggle>
                <mat-button-toggle value="2,5">Bearish Wave-We2</mat-button-toggle>
                <mat-button-toggle value="2,6">Bullish Trend Reversal</mat-button-toggle>
                <mat-button-toggle value="2,7">Bearish Trend Reversal</mat-button-toggle> -->
        <!--    </mat-button-toggle-group>

            <div class="text-center">
                <div class="d-flex justify-content-between mt-4 pb-3">
                    <h5 class="fw-600 text-start" [translate]="'crtprf_five.bought_sold'">Overbought and Oversold conditions</h5>
                    <div class="pass-help position-relative d-inline-block">
                        <span style="color:var(--theme-text);"><i class="bi bi-info-circle ms-2 fs-6"></i></span>
                        <div class="pass-help-bx d-inline-block p-4 mt-4 position-absolute">
                            <p [translate]="'crtprf_five.bought_content'">When an asset is overbought, the implication is that aggressive buying has pushed the price too far up too fast and further increase in price is more difficult and a correction is to be expected. Similarly, when an asset is oversold, the implication is that aggressive selling has pushed the price too far down too fast and a further decrease in price is more difficult, and a bounce is to be expected.</p>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-between mt-4">
                    <h5 class="fw-600" [translate]="'crtprf_five.state_trend'">State Trends</h5>
                    <div class="pass-help position-relative d-inline-block">
                        <span style="color:var(--theme-text);"><i class="bi bi-info-circle ms-2 fs-6"></i></span>
                        <div class="pass-help-bx d-inline-block p-4 mt-3 position-absolute">
                            <p [translate]="'crtprf_five.statet_content'">State T stands for state Trend and measures how overbought or oversold the overall trend is while State W measures how overbought or oversold the Wave (the current move) is.</p>
                        </div>
                    </div>
                </div>
                <mat-button-toggle-group multiple class="crt-prf3 crt-prf5 d-flex border-0 flex-wrap mt-4">
                    <mat-button-toggle *ngFor="let st of this.listStateT" [checked]="st.status==1" (click)="selectParam('stateT',st)">{{st.name}}</mat-button-toggle>
                    <!-- <mat-button-toggle value="1,1">OB+01</mat-button-toggle>
                    <mat-button-toggle value="1,2">OB+0</mat-button-toggle>
                    <mat-button-toggle value="1,3">OB+1</mat-button-toggle>
                    <mat-button-toggle value="1,4">OS+01</mat-button-toggle>
                    <mat-button-toggle value="1,5">OS+0</mat-button-toggle>
                    <mat-button-toggle value="1,6">OS+1</mat-button-toggle>
                    <mat-button-toggle value="1,7">N</mat-button-toggle> -->
        <!--        </mat-button-toggle-group>

                <div class="d-flex justify-content-between mt-4">
                    <h5 class="fw-600" [translate]="'crtprf_five.state_wave'">State Waves</h5>
                    <div class="pass-help position-relative d-inline-block">
                        <span style="color:var(--theme-text);"><i class="bi bi-info-circle ms-2 fs-6"></i></span>
                        <div class="pass-help-bx d-inline-block p-4 mt-3 position-absolute">
                            <p [translate]="'crtprf_five.statew_content'">OB1 means Little overbought, OB2 stands for Overbought while OB3 is extremely overbought OS1 means little oversold, OS2 stand for oversold while OS3 is extremely oversold N stands for Neutral – neither overbought nor oversold</p>
                        </div>
                    </div>
                </div>
                <mat-button-toggle-group multiple class="crt-prf3 crt-prf5 d-flex border-0 flex-wrap mt-4">
                    <mat-button-toggle *ngFor="let sw of this.listStateW" [checked]="sw.status==1" (click)="selectParam('stateW',sw)">{{sw.name}}</mat-button-toggle>
                    <!-- <mat-button-toggle value="1,1">OB+01</mat-button-toggle>
                    <mat-button-toggle value="1,2">OB+0</mat-button-toggle>
                    <mat-button-toggle value="1,3">OB+1</mat-button-toggle>
                    <mat-button-toggle value="1,4">OS+01</mat-button-toggle>
                    <mat-button-toggle value="1,5">OS+0</mat-button-toggle>
                    <mat-button-toggle value="1,6">OS+1</mat-button-toggle>
                    <mat-button-toggle value="1,7">N</mat-button-toggle> -->
        <!--        </mat-button-toggle-group>
            </div>-->

            <!-- <div class="text-start">
                <h5 class="fw-600 pt-2" [translate]="'crtprf_five.score'">Score</h5>
                <p [translate]="'crtprf_five.score_content'">correctly identifying an uptrend, a downtrend or a range is the first and most important step but you also need have a way to separate between different uptrends downtrends or ranges as to the quality of them. And this is where the concept of Scoring comes in. Analysing the trend slope, the distance between the tops and the bottoms and using a multitude of trend indicators including but not limited to Moving averages, MACD, trend lines and channels, RSI, IMI, Stochastics and ATR the algorithm coms up with a score – between 0 and 10 - of how good the trend quality is. Thee higher the number the more confident in the trend we are especially in buying dips or selling rallies strategies.</p>
                
                <h5 class="fw-600 pt-4" [translate]="'crtprf_five.short_explain'">Short Explanation of what tit is</h5>
                <p [translate]="'crtprf_five.shortexplain_content'">A score of 5 or more will ensure good trends but a score of 1 or more will ensure you don’t miss the out layer trades.</p>

                <h5 class="fw-600 pt-4" [translate]="'crtprf_five.score_mini'">Score Minimum</h5>
                <input type="text" placeholder="{{ 'crtprf_five.score_placeholder' | translate }}" (change)="selectParam('score',$event)" [value]="score" class="border w-100 px-3 py-2" style="border-radius:10px;">
            </div> -->

            <!-- <div class="text-center">
                <button class="nxt-btn border-0 mt-4 mb-3 position-relative" [disabled]="btnNxt==1" (click)="gotoNext()">Next <i class="bi bi-chevron-right position-absolute top-50 end-0 translate-middle me-2"></i></button>
            </div> -->
            
        </div>
    </div>
    <div class="hscAd px-4" (click)="gotoHsc()">       
        <img src="assets/images/refer-friend.png" class="img-fluid">        
    </div>
</div>