<div id="forpassword" class="px-4 pt-5 position-fixed top-0 end-0 bottom-0 start-0">
    <div class="forpassword-bx pt-5">
        <div class="text-center">
            <img src="assets/images/login-logo.png" class="img-fluid mb-3" alt="" style="width:75px;" *ngIf="loginthemeLogo==1">
            <img src="assets/images/login-logodark.png" class="img-fluid mb-3" alt="" style="width:75px;" *ngIf="loginthemeLogo==0">
            <h1 class="pg-tlt fw-bold pb-4" [translate]="'forgot_pass.page_tlt'">Forgot Password</h1>
        </div>      
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()">                
            <div class="frm-bx mb-4 pt-2">
                <span class="d-block pb-2 fw-bold" [translate]="'forgot_pass.form_tltemail'">Email ID <span style="color: red;">*</span></span>
                <input type="text" placeholder="{{ 'forgot_pass.form_emailplaceholder' | translate }}" class="w-100" formControlName="username" (blur)="convertToLower()" [ngClass]="{ 'is-invalid': submitted && valid.username.errors }">
                <div *ngIf="submitted && valid.username.errors" class="invalid-feedback">
                    <div *ngIf="valid.username.errors.required" [translate]="'forgot_pass.error_mail1'">Please Enter Email ID</div>				                    
                    <div *ngIf="valid.username.errors.pattern">
                        <div *ngIf="valid.username.errors.pattern.requiredPattern" [translate]="'forgot_pass.error_mail2'">Please Enter Valid EmailID</div>				
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn-primary sbmt-btn border-0 mt-4" [disabled]="btnDis==1" [translate]="'forgot_pass.submit_button'">Reset</button>
            </div>
            <div class="text-center pt-4 mt-2">
                <span style="color:var(--theme-text);"><span [translate]="'forgot_pass.already_acc'">Already have account?</span> <a style="color:#2d8f31;" class="fw-bold ms-1" (click)="gotoLogin()" [translate]="'forgot_pass.already_link'">Login</a></span>
            </div>
            <div class="text-center pt-2">
                <span class="text-center pb-3" style="cursor:pointer;" [translate]="'login.formchglang'" (click)="translationbtn()">Switch Language</span>                
            </div>            
        </form>
    </div>    
    <div class="signal-popup position-fixed top-0 end-0 bottom-0 start-0 d-flex align-items-center justify-content-center" *ngIf="alertPopup">
        <div class="signal-popup-bx text-center px-4 position-relative">
            <div class="text-end">
                <button *ngIf="alertPopup==1" class="bg-transparent border-0 p-0 text-dark fs-3 px-2 position-absolute top-0 mt-3 end-0 me-2" (click)="closeAlertPopup()"><i class="bi bi-x"></i></button>
            </div>
            <img src="{{alertPopupImg}}" class="img-fluid" alt="">
            <h4 class="text-center">{{alertPopupMsg}}</h4>
            <div *ngIf="alertPopup==1" class="d-flex align-items-center justify-content-center">                
                <button (click)="closeAlertPopup()" class="border-0" [translate]="'signal_plan.popup_close'">Close</button>
            </div>
        </div>
    </div>
</div>