:root[theme=dark] {
    --theme-background: #000000;
    --light-grey: #444444;
    --dark-grey: #555555;
    --theme-text: #fff;
    --theme-dark-bg-text: #000;
    --theme-gradient: linear-gradient(180deg, #000, #000, transparent);
    --svg-icon: brightness(0) invert(1);
    --white-grey: #222;
}