:root {
    --theme-background: white;
    --light-grey: #f5f5f5;
    --dark-grey: #e5e5e5;
    --theme-text: #222222;
    --theme-dark-bg-text: #000;
    --theme-gradient: linear-gradient(180deg, #fff, #fff, transparent);
    --svg-icon: unset;
    --white-grey: #fff;
}